.navigation {
    text-align: center;
    border: 1px solid;
    margin: 20px auto;
    background-color: rgb(152, 199, 239);
    border-radius: 40px;
    list-style: none;
    padding: 15px;
}

.navigation__item {
    display: inline;
}

.navigation__link {
    text-decoration: none;
    color: #222;
    padding: 15px;
}

.navigation__link:hover {
    color: hsl(201, 32%, 50%);
}