html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: Lato, sans-serif;
    font-size: 16px;
    background: hsl(0, 23%, 77%);
    max-width: 1000px;
    margin: auto;
    color: #222;
    text-align: center;
}
.dark {
    background-color: rgb(12, 148, 150);
}